<div class="body-content">



  {{#if indexPages.listIndex }}
  <div class="articles-list">
    <div class="avatar">
      {{{docs.admataz-avatar.body}}}
    </div>
    {{#each indexPages.listIndex.pages}}

    <div class="article">
      <a href='{{routePath}}'>
      <div class="header">
        <h3>{{meta.title}}</h3>
        <div class="datestamp">{{dateFormat meta.date}}</div>
      </div>

      <div class="main">
        <p class="blurb">{{meta.description}}</p>
        {{#if assets.img.[0]}}
        <img src="{{outputPath}}{{assets.img.[0]}}" class="thumb" />
        {{/if}}

      </div>
      </a>
      <div class="footer">
        <div class="keywords">{{meta.keywords}}</div>
      </div>
    </div>


    {{/each}}
      <div class="more-link"><a href="/notes/">more notes and observations...</a></div>

      <div class="page-body home-intro">
      {{{docs.page.body}}}
      </div>
      
  </div>

  {{/if}}





</div>