<div class="body-content">
  <div class="intro">
    {{{docs.page.body}}}
  </div>



  {{#if indexPages.listIndex }}
  

  <div class="articles-list">
<h2>notes and observations</h2>
    {{#each indexPages.listIndex.pages}}
    <div class="article">
      <div class="datestamp">{{dateFormat meta.date}}</div>
      <h3><a href='{{routePath}}'>{{meta.title}}</a></h3>
      {{#if assets.img.[0]}}
      <a href='{{routePath}}'><img src="{{outputPath}}{{assets.img.[0]}}" class="thumb" /></a>
      {{/if}}

      <p>{{meta.description}}</p>
    </div>
    {{/each}}
  </div>
  {{/if}}

</div>