<div class="body-content">
  <div class="home-intro">
    <div class="main-nav">
            {{{docs.main-nav.body}}}
        </div>
    {{{docs.page.body}}}
         
  </div>



  {{#if indexPages.listIndex }}
  <div class="articles-list">
    <h2>notes and observations</h2>
    <div class="articles-list">
    {{#each indexPages.listIndex.pages}}
    <a href='{{routePath}}'>
    <div class="article">
      <div class="datestamp">{{dateFormat meta.date}}</div>
      <h3>{{meta.title}}</h3>
      <p class="blurb">{{meta.description}}</p>
      {{#if assets.img.[0]}}
      <img src="{{outputPath}}{{assets.img.[0]}}" class="thumb" />
      {{/if}}
     <p>more...</p>
    </div>
    </a>
    {{/each}}
    </div>
    <p><a href="/notes/">more notes...</a></p>
  </div>
  {{/if}}


</div>