

    <div class="body-content">
    {{{docs.page.body}}}


    {{#if indexPages.listIndex }}
    <div class="articles-list">
      {{#each indexPages.listIndex}}
      <div class="article">
        {{#each meta.img}}
        {{this}}
        {{/each}}
        <div class="datestamp">{{dateFormat meta.date}}</div>
        <h3><a href='{{routePath}}'>{{meta.title}}</a></h3>
        <p>{{meta.description}}</p>
      </div>
      {{/each}}
    </div>
    {{/if}}
  
    </div>


