
    <div id="blocks"></div>
    <div class="container two-col">
      <div id="content-main">
        

    <h1>{{ docs.page.meta.title }}</h1>
        
        <div class="col-2 first">
        
        <div id="services-detail">
        {{{docs.about.html}}}
        </div>

        {{{docs.page.html}}}

        <div id="info-x" class="cf">
            {{{ elements.clientList }}}
        </div>

    
        {{{docs.services.html}}}
        {{{docs.contact.html}}}
        

        <div id="site-links">
        {{{docs.site-links.html}}}
      </div>
        
      </div>
      <div class="col-2">
          <h2 id="notes-and-observations">notes and observations</h2>
          <div id="articlesList">
         {{{indexPages.articlesIndex}}}
        </div>
        </div>

        

      </div>

       
    </div>