<div class="body-content">
  <div class="intro">
    {{{docs.page.body}}}
  </div>

  {{#if indexPages.listIndex }}
  <div class="articles-list">
    {{#each indexPages.listIndex.pages}}
    <div class="article">
      <a href='{{routePath}}'>
      <div class="header">
        <h3>{{meta.title}}</h3>
        <div class="datestamp">{{dateFormat meta.date}}</div>
      </div>

      <div class="main">
        <p class="blurb">{{meta.description}}</p>
        {{#if assets.img.[0]}}
        <img src="{{outputPath}}{{assets.img.[0]}}" class="thumb" />
        {{/if}}

      </div>
      </a>
      <div class="footer">
        <div class="keywords">{{meta.keywords}}</div>
      </div>
    </div>

    {{/each}}
  </div>
  {{/if}}


</div>