<div class="articles-list">
  {{#each indexList}}
  <div class="article">
    <div class="datestamp">{{dateFormat meta.date}}</div>
    <h3><a href='{{routePath}}'>{{meta.title}}</a></h3>
    {{#if assets.img.[0]}}
      <a href='{{routePath}}'><img src="{{routePath}}{{assets.img.[0]}}" class="thumb" /></a>
    {{/if}}
    <p>{{meta.description}}</p>
  </div>
  {{/each}}
</div>